@charset "utf-8";
/* // ==========================================================================
// サイト共通アーカイブナビ
// ========================================================================== */
.archive_navigation {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        direction: rtl;
        > * {
            direction: ltr;
        }
    }

    /* MARK: hover */
    @media (any-hover: hover) {
    }
}
