@charset "utf-8";
/* // ==========================================================================
// パンくずリスト
// ========================================================================== */
.module_breadCrumb {
    position: relative;
    font-size: 13px;
    color: var(--color-text);
    line-height: 1.5;
    letter-spacing: 0.05em;
    .mb_inner {
    }
    .module_breadCrumb-01 {
        li {
            display: inline;
            &:not(:last-child) {
                &::after {
                    content: var(--icon-chevron-right);
                    font-family: var(--font-awesome);
                    font-weight: 400;
                    font-size: 10px;
                    color: var(--color-primary);
                    display: inline-block;
                    margin-inline: 10px;
                }
            }
            a,
            span {
                br {
                    display: none;
                }
            }
            a {
                color: var(--color-text);
            }
        }
    }

    /* MARK: hover */
    @media (any-hover: hover) {
        .module_breadCrumb-01 {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
