@charset "utf-8";
/* // ==========================================================================
// ページネーション
// ========================================================================== */
/* // 詳細ページ用 */
.module_pager-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 20px;
    li {
        margin-inline: auto;
        max-width: 255px;
        width: 100%;
        &._hidden {
            display: none;
        }
        a {
            display: block;
            position: relative;
            padding: 15px 50px;
            border: 1px solid var(--color-primary);
            border-radius: 3em;
            max-width: 240px;
            width: 100%;
            font-size: 16px;
            line-height: 1.3;
            text-align: center;
            text-decoration: none;
            transition: background-color var(--transition-duration), color var(--transition-duration);
            background-color: var(--color-primary);
            color: var(--color-secondary);
            span {
                display: block;
            }
        }
        &.back {
            order: 3;
            max-width: 270px;
            width: 270px;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 0 20px;
                border-color: var(--color-line);
                border-radius: 3px;
                max-width: 270px;
                width: 270px;
                height: 60px;
                background-color: var(--color-secondary);
                color: var(--color-text);
                font-family: var(--font-zen-kaku-gothic);
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                span {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    &::before {
                        content: '\f03a';
                        color: var(--color-primary);
                        font-family: var(--font-awesome);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1;
                    }
                }
            }
        }
        &.prev {
            order: 1;
        }
        &.next {
            order: 2;
        }
    }

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        li {
            width: 150px;
            margin: 0;
            &._hidden {
                display: block;
                visibility: hidden;
                width: 130px;
                height: 50px;
            }
            &.back {
                order: 2;
                max-width: 270px;
                width: 270px;
            }
            &.next {
                order: 3;
            }
        }
    }

    /* MARK: hover */
    @media (any-hover: hover) {
        li {
            a {
                &:hover {
                    background-color: var(--color-secondary);
                    color: var(--color-primary);
                }
            }
            &.back {
                a {
                    &:hover {
                        border-color: var(--color-primary);
                        background-color: var(--color-primary);
                        color: var(--color-secondary);
                        span::before {
                            color: var(--color-secondary);
                        }
                    }
                }
            }
        }
    }
}