@charset "utf-8";
/* // ==========================================================================
// サイト共通コンテンツ
// ========================================================================== */
.global_contents {
    > section {
        padding-bottom: 50px;
    }
    .gc_main {
        display: flow-root;
        width: 100%;
    }
    .gc_sub {
        margin-top: 84px;
    }
    .gc_dropdown {
        margin-block: 72px;
        width: 300px;
    }

    @media screen and (min-width: 768px) {
        > section {
            padding-bottom: 100px;
        }
        .gc_main {
            &._oneColumn {
            }
        }
        .gc_sub {
            margin-top: 0;
            width: 100%;
        }
        .gc_dropdown {
        }
    }
}
body:not(.home) {
    .global_contents {
        > section {
            padding-bottom: 0;
            > .global_inner,
            > .content_inner {
                min-height: 1%; /* IE用flexバグ対策（flexでパンくず並び替える場合は必要） */
            }
            > .module_breadCrumb {
                margin-top: 50px;
                margin-bottom: 0;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .global_contents > section > .module_breadCrumb {
            margin-top: 100px;
        }
    }
}
